# Backend
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/*.db
backend/.env

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/package-lock.json

# Editors / OS
.vscode/
.idea/
.DS_Store

*.db
